<div class="card">
  <figure class="moviecard text-white">
    <img
      class="w-100"
      src="https://image.tmdb.org/t/p/w500/{{
        movieobj.backdrop_path || movieobj.poster_path
      }}"
      [alt]="movieobj.title || movieobj.original_title"
      [title]="movieobj.title || movieobj.original_title"
    />
    <figcaption>
      <div class="movietitle p-3">
        <div class="row">
          <div class="col-10">
            <h3 class="mb-0">
              {{ movieobj.title || movieobj.original_title }}
            </h3>
          </div>

          <div class="col-2 align-self-center">
            <span
              class="p-2 rating"
              [ngClass]="{
                'bg-success': movieobj.vote_average >= 7.5,
                'bg-warning':
                  movieobj.vote_average >= 5 && movieobj.vote_average < 7.5,
                'bg-danger': movieobj.vote_average < 5
              }"
            >
              {{ movieobj.vote_average }}
            </span>
          </div>
        </div>
      </div>
      <div class="movieoverview">
        <h4>{{ movieobj.title || movieobj.original_title }}</h4>
        <p>
          <em>overview</em>
          {{ movieobj.overview }}
        </p>
      </div>
    </figcaption>
  </figure>
</div>
